
<div style ="relative; float:left; margin-right:50px;">
    <img src = "http://file.instiz.net/data/file/20140113/3/0/6/3063438d5d94c9e17568721e3aceb0ef.png" width="300" height="300">
</div>

<div style= "relative; float:left; margin-right:50px; margin-bottom:30px;">
<img src = "http://file.instiz.net/data/file/20140113/3/0/6/3063438d5d94c9e17568721e3aceb0ef.png" width="400" height="300">
</div>

<div style ="relative; float:none;">
    <img src = "http://file.instiz.net/data/file/20140113/3/0/6/3063438d5d94c9e17568721e3aceb0ef.png" width="300" height="300">
</div>


<div style ="relative; float:left; margin-top:60px; margin-left:230px;">
    <img src ="http://artfeel.co.kr/web/product/big/o_Icon_115.jpg" width="100" height="100">
</div>

<div style = "relative; float:left; margin-left:60px; margin-right:60px;"><form action="/home/index" method="get">
    <button class="btn" id="btn" type="submit"><img class="btn-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnofthA3_1e-Wnm0siBl2Fg7YA-hWDbLYNASFv0hifxiQDzIhY" width="300" height="250"></button>
</form></div>

<div style = "relative; float:left; margin-top:60px; margin-right:45px;">
    <img src = "http://artfeel.co.kr/web/product/big/o_Icon_124.jpg" width="100" height="100">
</div>